# Ignora node_modules (se instalarán dentro del contenedor)
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Salidas de construcción locales
dist
build
.vite

# Archivos de control de versiones y config locales
.git
.gitignore
Dockerfile
.dockerignore

# IDEs y editores
.vscode
.idea
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Entornos y configuración
.env.local
.env.*
!.env.production
